.jumbotron{
background-color: #4CAF50;
color: #FFFFFF
margin-top:50px;

}


.card-hotel{
	flex: 1 200px;


}

.btn-reserva{
	width: 100%;
	border-radius: 0px;

}

footer {
	
	background-color: #4CAF50;
	color: #FFFFFF;
	margin-bottom: 0px;
	padding: 10px 10px 0 10px;
	margin-top: 10px;
}

.footer-address-icon{
	padding-right: 10px; 
}


.tab-content{
	padding-top:10px; 
}