$green: ##4CAF50;


.jumbotron{
background-color: $green;
color: black;
@include margenes(50px, 0px);

}


.card-hotel{
	flex: 1 200px;
	margin-top: 10px;


}

.btn-reserva{
	width: 100%;
	border-radius: 0px;

}

footer {
	
	background-color: $green;
	color: #FFFFFF;
	margin-bottom: 0px;
	padding: 10px 10px 0 10px;
	margin-top: 10px;
}

.footer-address-icon{
	padding-right: 10px; 
}

.tab-content{
	padding-top:10px; 
}